.container-fluid
  .row
    .col-md-1
    .col-md-10
      .alert.alert-danger 
        Due to the difficulty of obtaining reliable data, Johns Hopkins University is 
        = link_to "no longer publishing", "https://github.com/CSSEGISandData/COVID-19/issues/1250" 
        reports of recovered cases.
      %h1
        = pluralize(@reports_length, "Reports") 
        for 
        = params[:country]
      = render 'chart'
      #loading
        Loading...
      = link_to("Compare with another country...", country_comparison_reports_path(country1: params[:country]))
      %table.table
        %thead
          %tr
            %th Update
            %th Region
            %th Confirmed
            %th Deaths
        %tbody
          - @reports.each do |report|
            %tr
              %td= report.created_at
              %td 
                - if report.region.province
                  = link_to report.region.province, by_region_reports_path(report.region_id)
                = link_to report.region.country, by_country_reports_path(report.region.country)
              %td= report.confirmed
              %td= report.deaths
      = paginate @reports
:javascript
  $(function() {
    chart = new ReportChart('#chart')
    chart.updateData('#{by_country_reports_url(country: params[:country], format: :json)}')
  });
