.container-fluid
  .row
    .col-md-1
    .col-md-10
      %h1
        = pluralize(@reports_length, "Reports")
        for All Countries
      %p
        Source: 
        = link_to "Johns Hopkins University Center for Systems Science and Engineering", "https://github.com/CSSEGISandData/COVID-19"
      %p 
        See also 
        = link_to "Coronavirus COVID-19 (2019-nCoV)", "https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"
      %p
        See also
        = link_to "Coronavirus Dashboard", "https://ncov2019.live/data"
      = form_tag('#', method: :get, class: "form-inline") do
        = select_tag("country", options_for_select([['Select Country', nil]] + Region.all.map{ |r| [r.country, r.country] }.uniq.delete_if{ |a| a[0].nil? || a[1].nil? }.sort))
        %button.btn.btn-primary{ type: "submit" } Go
      = render 'chart'
      %p
        Click a region or country for specific reports and chart.
      %table.table
        %thead
          %tr
            %th Update
            %th Region
            %th Confirmed
            %th Deaths
        %tbody
          - @reports.each do |report|
            %tr
              %td= report.created_at
              %td 
                - if report.region.province
                  = link_to report.region.province, by_region_reports_path(report.region_id)
                = link_to report.region.country, by_country_reports_path(report.region.country)
              %td= report.confirmed
              %td= report.deaths

      = paginate @reports
:javascript
  $(function() {
    chart = new ReportChart('#chart')
    chart.updateData('#{reports_url(format: :json)}')
    $('form').attr('action', "/reports/by_country/" + $('form select').val() + ".html");
    $('form').change(function (event) {
      $('form').attr('action', "/reports/by_country/" + $('form select').val() + ".html");
    })
  });
